@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>Por favor comunicarce</h3>

<address>
    Juan David Gaviria<br />
    Cartagena<br />
    <abbr title="Telefono"></abbr>
    +57-304-618-9043
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:jd58_2g@hotmail.com">jd58_2g@hotmail.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:jd58_2g@hotmail.com">jd58_2g@hotmail.com</a>
</address>