@{
    ViewBag.Title = "Home Page";
}
<img src="https://seeklogo.com/images/S/sena-logo-AD3CDF05EE-seeklogo.com.png" style="float: right">

<div class="jumbotron">
    <h1>DeporSoft</h1>    
    <p class="lead">Una aplicacion pensada para el facil uso en eventos deportivos</p>
    <p><a href="http://oferta.senasofiaplus.edu.co/sofia-oferta/buscar-oferta-educativa.html" class="btn btn-primary btn-lg">Aprenda mas &raquo;</a></p>
    
</div>

<img src="https://www.medinaylinarescontadores.com/noticias/wp-content/uploads/2021/09/Beneficios-Tributarios-eventos-deportivos-Colombia.jpg" class="center-block">

<div class="row">
    <div class="col-md-4">
        <h2>Como Iniciar</h2>
        <p>
            Por favor lea la informacion correspondiente para el facil uso de la aplicacion
        </p>
        <p><a class="btn btn-default" href="https://www.sena.edu.co/es-co/formacion/Paginas/bilinguismo.aspx">Iniciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtener mas Documentacion</h2>
        <p>Saque todo el provecho de esta aplicacion con los siguientes cursos</p>
        <p><a class="btn btn-default" href="https://www.sena.edu.co/es-co/formacion/Paginas/Estudie-en-el-SENA.aspx">Obtener &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donaciones</h2>
        <p>Si desea realizar una donacion por favor use el siguiente boton</p>
        <p><a class="btn btn-default" href="https://www.sena.edu.co/es-co/Noticias/Paginas/noticia.aspx?IdNoticia=4937">Donar &raquo;</a></p>
    </div>
</div>